In [42]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import spacy

In [43]:
clean_filepath = "/Users/kylieleblancKylie/domino/docsim/data/clean/aera/"

In [44]:
df_open = pd.read_csv(clean_filepath + 'text_aera_open.csv')
df_open = df_open.set_index('doc')
df_open['special'] = 0
df_open.sample(5)

,text,special
doc,,
10.1177/2332858419883571,Research consistently has found teachers’ use ...,0
10.1177/2332858419884540,This article examines associations between chi...,0
10.1177/2332858419879439,Despite growing concern over teachers’ ability...,0
10.1177/2332858419880521,Efforts to improve teachers’ knowledge and to ...,0
10.1177/2332858419884905,This study examines the Association of America...,0

In [45]:
df_special = pd.read_csv(clean_filepath + 'text_aera_special.csv')
df_special = df_special.set_index('doc')
df_special['special'] = 1
df_special.sample(3)

,text,special
doc,,
10.1177/2332858416673617,Studies using data from the Early Childhood Lo...,1
10.1177/2332858416653924,This study compares the early life experiences...,1
10.1177/2332858416657343,Academic achievement gaps between high- and lo...,1

In [46]:
df = df_open.append(df_special, sort = True)
df.sample(5)

,special,text
doc,,
10.1177/2332858419884891,0,"Over the past decade, U.S. immigration enforce..."
10.1177/2332858419875440,0,There is growing interest in the relation betw...
10.1177/2332858416655766,1,Leveraging data from two nationally representa...
10.1177/2332858419888892,0,Although numerous survey-based studies have fo...
10.1177/2332858419887735,0,This special topic is intended to advance rese...

# Doc-Term Matrix

In [47]:
docs = list(df.text)
vec = CountVectorizer()
X = vec.fit_transform(docs)
matrix = pd.DataFrame(X.toarray(), columns=vec.get_feature_names(), index = df.index)
print('Number of words: ', len(matrix.columns))
matrix.sample()

Number of words:  1065

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419880521,0,1,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
matrix_special = matrix[df.special == 1]
matrix_special.to_csv(clean_filepath + 'matrix_special.csv')
matrix_special.sample()

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858416653924,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [49]:
matrix_open = matrix[df.special == 0]
matrix_open.to_csv(clean_filepath + 'matrix_open.csv')
matrix_open.sample()

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419879446,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

# Weight

In [50]:
docs = list(df.text)
vec = TfidfVectorizer()
X = vec.fit_transform(docs)
matrix_wgt = pd.DataFrame(X.toarray(), columns=vec.get_feature_names(), index = df.index)
print('Number of words: ', len(matrix_wgt.columns))
matrix_wgt.sample()

matrix_special_wgt = matrix_wgt[df.special == 1]
matrix_special_wgt.to_csv(clean_filepath + 'matrix_special_wgt.csv')
matrix_special_wgt.sample()


matrix_open_wgt = matrix_wgt[df.special == 0]
matrix_open_wgt.to_csv(clean_filepath + 'matrix_open_wgt.csv')
matrix_open_wgt.sample()

Number of words:  1065

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419884891,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Remove Stop Words (no weighting)

In [51]:
stop_words = list(stopwords.words('english'))
stop_words.append('like')
stop_words.append('um')
stop_words.append('uhm')
stop_words.append('-pron-')
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'like',
 'um',
 'uhm',
 '-pron-']

In [52]:
docs = list(df.text)
vec = CountVectorizer(stop_words = stop_words)
X = vec.fit_transform(docs)
matrix_stop = pd.DataFrame(X.toarray(), columns=vec.get_feature_names(), index = df.index)
print('Number of words: ', len(matrix_stop.columns))
matrix_stop.sample()

Number of words:  988

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419887735,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
matrix_special_stop = matrix_stop[df.special == 1]
matrix_special_stop.to_csv(clean_filepath + 'matrix_special_stop.csv')
matrix_special_stop.sample()

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858415616358,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [54]:
matrix_open_stop = matrix_stop[df.special == 0]
matrix_open_stop.to_csv(clean_filepath + 'matrix_open_stop.csv')
matrix_open_stop.sample()

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419875440,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Stop and weight

In [55]:
docs = list(df.text)
vec = TfidfVectorizer(stop_words = stop_words)
X = vec.fit_transform(docs)
matrix_stop_wgt = pd.DataFrame(X.toarray(), columns=vec.get_feature_names(), index = df.index)
print('Number of words: ', len(matrix_stop_wgt.columns))
matrix_stop_wgt.sample()

matrix_special_stop_wgt = matrix_stop_wgt[df.special == 1]
matrix_special_stop_wgt.to_csv(clean_filepath + 'matrix_special_stop_wgt.csv')
matrix_special_stop_wgt.sample()


matrix_open_stop_wgt = matrix_stop_wgt[df.special == 0]
matrix_open_stop_wgt.to_csv(clean_filepath + 'matrix_open_stop_wgt.csv')
matrix_open_stop_wgt.sample()

Number of words:  988

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419884905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.07543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Stem

In [63]:
# Initialize spacy 'en' model, keeping only tagger component needed for lemmatization
nlp = spacy.load('en', disable=['parser', 'ner'])

sentence = "The striped bats are hanging on their feet for best singing. My favorite color is green. Did you know that?"

# Parse the sentence using the loaded 'en' model object `nlp`
doc = nlp(sentence)

# Extract the lemma for each token and join
" ".join([token.lemma_ for token in doc])
#> 'the strip bat be hang on -PRON- foot for good'

'the strip bat be hang on -PRON- foot for good singing . -PRON- favorite color be green . do -PRON- know that ?'

In [57]:
stems = [" ".join([token.lemma_ for token in nlp(text)]) for text in df.text]
df['text'] = stems
df.sample(5)

,special,text
doc,,
10.1177/2332858419884891,0,"over the past decade , u.s. immigration enforc..."
10.1177/2332858419875440,0,there be grow interest in the relation between...
10.1177/2332858419890322,0,"in this study , -PRON- extend research on the ..."
10.1177/2332858419887735,0,this special topic be intend to advance resear...
10.1177/2332858419890326,0,handwriting practice be the most time - consum...

In [58]:
docs = list(df.text)
vec = CountVectorizer(stop_words = stop_words)
X = vec.fit_transform(docs)
matrix_stop_stem = pd.DataFrame(X.toarray(), columns=vec.get_feature_names(), index = df.index)
print('Number of words: ', len(matrix_stop_stem.columns))
matrix_stop_stem.sample()

Number of words:  868

,16,1990,1990s,1998,1999,20,2000,2005,2006,2007,...,whether,white,whose,within,word,work,worker,year,young,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419880521,0,1,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
matrix_special_stop_stem = matrix_stop_stem[matrix.special == 1]
matrix_special_stop_stem.to_csv(clean_filepath + 'matrix_special_stop_stem.csv')
matrix_special_stop_stem.sample()

,16,1990,1990s,1998,1999,20,2000,2005,2006,2007,...,whether,white,whose,within,word,work,worker,year,young,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858417701684,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [60]:
matrix_open_stop_stem = matrix_stop_stem[matrix.special == 0]
matrix_open_stop_stem.to_csv(clean_filepath + 'matrix_open_stop_stem.csv')
matrix_open_stop_stem.sample()

,16,1990,1990s,1998,1999,20,2000,2005,2006,2007,...,whether,white,whose,within,word,work,worker,year,young,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419883571,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Stop Stem and Weight

In [61]:
docs = list(df.text)
vec = TfidfVectorizer(stop_words = stop_words)
X = vec.fit_transform(docs)
matrix_stop_stem_wgt = pd.DataFrame(X.toarray(), columns=vec.get_feature_names(), index = df.index)
print('Number of words: ', len(matrix_stop_stem_wgt.columns))
matrix_stop_stem_wgt.sample()

matrix_special_stop_stem_wgt = matrix_stop_stem_wgt[df.special == 1]
matrix_special_stop_stem_wgt.to_csv(clean_filepath + 'matrix_special_stop_stem_wgt.csv')
matrix_special_stop_stem_wgt.sample()


matrix_open_stop_stem_wgt = matrix_stop_stem_wgt[df.special == 0]
matrix_open_stop_stem_wgt.to_csv(clean_filepath + 'matrix_open_stop_stem_wgt.csv')
matrix_open_stop_stem_wgt.sample()

Number of words:  868

,16,1990,1990s,1998,1999,20,2000,2005,2006,2007,...,whether,white,whose,within,word,work,worker,year,young,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419883571,0.0,0.0,0.0,0.0,0.0,0.091013,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0